# SDK НУЦ РК под их лицензией, в публичный репозиторий не кладём
pkisdk/

target/
node_modules/
attestor/bin/
.anchor/
test-ledger/
*.log
.DS_Store

.anchor
**/*.rs.bk
.yarn
.surfpool
target/deploy/*.so
